.frame-child12 {
  position: relative;
  width: 260px;
  height: 879px;
  z-index: 0;
}
.frame-child13 {
  border-radius: var(--br-mid);
  background-color: var(--ee6338);
  width: 55px;
  height: 55px;
}
.frame-child13,
.user4,
.user5 {
  position: relative;
}
.user5 {
  font-size: var(--font-size-sm);
  color: var(--style);
}
.rectangle-parent11,
.user-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent11 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}
.frame29,
.frame30 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.frame30 {
  margin: 0 !important;
  position: absolute;
  top: 60px;
  left: 36.5px;
  width: 152px;
  justify-content: center;
  z-index: 1;
}
.frame29 {
  width: 260px;
  height: 879px;
  flex-shrink: 0;
  justify-content: flex-start;
  position: relative;
}
.frame-child14 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xl);
  width: 6px;
}
.frame-icon12 {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.general2 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
  color: var(--style);
  text-align: left;
}
.frame-parent15,
.rectangle-parent12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent15 {
  flex: 1;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-3xs);
}
.rectangle-parent12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  align-items: flex-start;
}
.frame-child16 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--ee6338);
  width: 6px;
}
.invitations3 {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-poppins);
  color: var(--a194d);
  text-align: left;
}
.frame-child17 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--ffffff);
  width: 6px;
}
.frame-parent18 {
  width: 222px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.rectangle-parent15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
}
.frame-parent14,
.rectangle-parent15,
.rectangle-parent17 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent14 {
  width: 260px;
  flex-direction: column;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.rectangle-parent17 {
  align-self: stretch;
  flex-direction: row;
}
.frame28,
.frame31 {
  overflow: hidden;
  display: flex;
}
.frame31 {
  width: 260px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-375xl);
  margin-top: -717px;
  font-size: var(--font-size-sm);
  color: var(--style);
}
.frame28 {
  width: 256px;
  flex-shrink: 0;
  justify-content: center;
}
.frame28,
.frame34,
.frame35 {
  flex-direction: column;
  align-items: flex-start;
}
.frame35 {
  width: 219px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.frame34 {
  width: 329px;
  height: 146px;
  flex-shrink: 0;
  justify-content: flex-start;
}
.frame27,
.frame32,
.frame33,
.frame34 {
  overflow: hidden;
  display: flex;
}
.frame33 {
  width: 617px;
  height: 689px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame27,
.frame32 {
  flex: 1;
  align-items: center;
}
.frame32 {
  height: 754px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-13xl);
}
.frame27 {
  flex-direction: row;
  justify-content: space-between;
}
.renews-on-nov2,
.your-plan2 {
  position: relative;
  font-weight: 500;
}
.renews-on-nov2 {
  font-size: var(--font-size-sm);
}
.pro-annual-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-5xl);
}
.cancel-subscription2 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--ffffff);
  text-align: left;
}
.cancel-subscription-frame {
  cursor: pointer;
  border: 1px solid var(--color-gray);
  padding: var(--padding-5xs) var(--padding-base);
  background-color: transparent;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame36,
.your-plan-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.your-plan-container {
  border-radius: var(--br-base);
  background-color: var(--color-tomato-100);
  box-shadow: 0 8px 19px rgba(223, 223, 253, 0.6);
  align-items: flex-start;
  padding: var(--padding-13xl);
  gap: var(--gap-base);
}
.frame36 {
  width: 261px;
  height: 400px;
  align-items: flex-end;
  color: var(--ffffff);
}
.frame-parent13,
.invitations2 {
  display: flex;
  align-items: center;
}
.frame-parent13 {
  border-radius: var(--br-13xl);
  background: linear-gradient(-55.76deg, #f8f8ff, #fff);
  box-shadow: 0 49px 32px -19px rgba(56, 56, 150, 0.15);
  width: 1510px;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--a194d);
  font-family: var(--font-poppins);
}
.invitations2 {
  position: relative;
  background-color: var(--color-lavender);
  width: 100%;
  height: 1144px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-141xl) var(--padding-121xl);
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .frame36 {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .invitations2 {
    flex-direction: row;
  }
}
@media screen and (max-width: 960px) {
  .frame27 {
    flex: unset;
    align-self: stretch;
  }
  .frame-parent13 {
    flex-direction: column;
    padding-left: 0;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .frame-child12 {
    width: 0;
    height: 0;
  }
  .frame29,
  .frame31 {
    gap: var(--gap-0);
    box-sizing: border-box;
  }
  .frame29 {
    height: 850px;
    padding-bottom: var(--padding-481xl);
  }
  .frame31 {
    padding-left: 0;
  }
  .frame28,
  .frame33 {
    height: auto;
    align-items: flex-start;
    padding-top: 0;
  }
  .frame28 {
    flex-direction: column;
    gap: var(--gap-0);
    justify-content: flex-start;
    padding-right: 0;
    padding-bottom: var(--padding-381xl);
    box-sizing: border-box;
  }
  .frame33 {
    align-self: stretch;
    width: auto;
    justify-content: center;
    padding-bottom: 0;
  }
  .frame27,
  .frame32,
  .frame33,
  .frame33:active {
    flex-direction: column;
    gap: var(--gap-0);
    box-sizing: border-box;
  }
  .frame33:active {
    padding-bottom: var(--padding-481xl);
  }
  .frame27,
  .frame32 {
    align-items: flex-start;
    justify-content: flex-start;
    padding-bottom: 0;
  }
  .frame32 {
    align-self: stretch;
    width: auto;
    flex: unset;
    padding-left: 0;
    padding-top: 0;
  }
  .frame27 {
    padding-left: var(--padding-191xl);
    padding-top: var(--padding-791xl);
  }
  .frame36 {
    padding-top: 0;
  }
  .frame-parent13,
  .frame36 {
    padding-left: 0;
    box-sizing: border-box;
  }
}
