body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-lavender: #e8e8fd;
  --color-tomato-100: #ee4e38;
  --ee6338: #ee4d38;
  --color-gray: rgba(255, 255, 255, 0.5);
  --ffffff: #fff;
  --cbcbd9: #cbcbd9;
  --a194d: #1a184d;
  --style: #626190;

  /* Gaps */
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-0: 0px;
  --gap-3xs: 10px;
  --gap-95xl: 114px;
  --gap-375xl: 394px;
  --gap-5xs: 8px;
  --gap-sm: 14px;

  /* Paddings */
  --padding-141xl: 160px;
  --padding-121xl: 140px;
  --padding-13xl: 32px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-191xl: 210px;
  --padding-791xl: 810px;
  --padding-481xl: 500px;
  --padding-381xl: 400px;

  /* Border radiuses */
  --br-13xl: 32px;
  --br-base: 16px;
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-mid: 17px;
}
